.header {
  display: flex;
  height: 60px;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  flex: 1;

  .header-links {
    height: 100%;
    padding: $header-padding;
    font-size: 1.2rem;
  }

  .header-search {
    display: flex;
    height: 100%;
    width: 280px;
    position: relative;
    cursor: pointer;

    &-underline {
      position: absolute;
      bottom: 8px;
      height: 2px;
      width: 100%;
      background-color: white;
      opacity: 0;
      transition: $std-transition;
    }

    &-left {
      height: 100%;
      padding: $header-padding 10px $header-padding 0;
      cursor: inherit;
    }

    &-center {
      flex: 1;
      height: 100%;
      padding: $header-padding 0;
      .header-search-input {
        @include input;
        width: 100%;
        cursor: inherit;
      }
    }

    &-right {
      display: flex;
      padding: $header-padding 0;
      position: relative;
      opacity: 0;
      transition: $std-transition;

      .search-engine {
        padding: 0 10px;
        i {
          padding-left: 5px;
        }
      }

      .search-engine-dropdown {
        @include modal(left, bottom, 0, -140px, 130px, 140px);
        justify-content: space-around;
        padding: 15px 0;

        &::before {
          @include arrow-up(left, top, 20px, -10px);
        }

        header {
          font-size: 0.7rem;
          color: $modal-secondary-color;
          padding-left: 10px;
        }

        ul {
          display: flex;
          flex: 1;
          align-items: center;
          font-size: 1rem;
          padding-left: 10px;

          &:hover {
            background-color: $modal-hover-color;
          }

          img {
            margin-right: 12px;
          }
        }
      }
    }
  }
}

.header-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  .weather-box-current {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 5px 20px;
    cursor: pointer;

    .temperature {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      font-size: 1.5rem;
      text-align: center;

      i {
        font-size: 1.2rem;
        position: absolute;
        right: 50px;
      }
    }
    .location {
      height: 100%;
      font-size: 1rem;
      text-align: center;
    }
  }
  .weather-box-weekly {
    &-dropdown {
      @include modal(top, right, 75px, 15px, 245px, 440px);

      &::before {
        @include arrow-up(right, top, 20px, -10px);
      }
    }
    &-top {
      position: relative;
      display: flex;
      padding: 15px 15px 0 15px;
      .location-search {
        &-modal {
          @include modal(top, left, 0, 0, 100%, 100%);
          display: none;
          padding: 15px;
          z-index: 1;
        }

        &-container {
          display: flex;
          padding-bottom: 6px;
          border-bottom: 2px solid white;
        }

        &-input {
          @include input;
          flex: 1;
          z-index: 2;
        }

        &-btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 40px;
          margin-right: 10px;
          i {
            color: $modal-secondary-color;
            cursor: pointer;
            &:hover {
              color: $modal-hover-color;
            }
          }
        }

        &-results-container {
          display: none;
          flex-direction: column;
          padding: 8px 10px;
          margin-top: 2px;
          background-color: rgb(65, 63, 63);
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          div {
            padding: 3px 0;
          }
          .location-search-result {
            cursor: pointer;
          }
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        &-top {
          display: flex;
          margin-bottom: 4px;
          align-items: baseline;
          .region {
            font-size: 1.3rem;
            color: white;
            margin-right: 10px;
          }
          .selected-day {
            font-size: 1.1rem;
            color: $modal-secondary-color;
          }
        }
        .weather {
          font-size: 1rem;
          color: $modal-secondary-color;
        }
      }

      &-right {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        flex: 1;

        i {
          font-size: 0.9rem;
          color: $modal-secondary-color;
          margin-right: 10px;
          margin-bottom: 15px;
          cursor: pointer;
        }

        .weekly-weather-option {
          &-container {
            @include submodal(column, 30px);
            .edit-location {
              cursor: pointer;
            }
          }
          &-item {
            @include submodal-item();
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    &-mid {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 15px;

      .current-weather {
        display: flex;
        flex: 1;

        .weather-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 60px;
          font-size: 1.8rem;
        }

        .temperature {
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 3.5rem;
        }
      }
      .weekly-weather {
        display: flex;
        justify-content: space-around;
        flex: 1;
        border: 1.5px rgba(189, 184, 184, 0.226) solid;
        border-left: none;
        border-right: none;
        &-item {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 6px 0;
          font-size: 0.9rem;
          border-radius: 5px;
          &:hover {
            background-color: rgba(156, 155, 155, 0.15);
          }
        }
      }
    }

    &-bot {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 40px;
      width: 100%;
      padding: 0 20px;
      a {
        text-decoration: none;
        &:hover {
          background-color: rgba(189, 184, 184, 0.171);
        }
      }
      span {
        font-size: 0.8rem;
        margin-right: 7px;
      }
    }
  }
}
