.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-top {
    flex: 1;
  }
  &-mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .time-container {
      display: flex;
      align-items: center;

      .time-settings {
        visibility: hidden;
        position: relative;
        margin-left: 30px;
        &-btn {
          @include settingsBtn;
          font-size: 1.2rem;
        }

        &-modal-container {
          visibility: hidden;
        }

        &-modal-arrow-up {
          @include arrow-up(top, left, 35px, 5px);
        }

        &-modal {
          position: absolute;
          top: 45px;
          left: -10px;
          width: 170px;
          padding: 10px 12px;
          border-radius: $modal-std-border-radius;
          background-color: $modal-bg-color;
          &-item {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .greeting-container {
      display: flex;
      align-items: center;

      .greeting-message {
        display: flex;
        position: relative;

        #greeting-message-time {
          margin-right: 20px;
        }

        #username-container {
          display: flex;
          height: 100%;
          overflow: hidden;
          z-index: -1;
          opacity: 1;
          white-space: pre;
        }

        #username-form {
          position: absolute;
          right: 0;
          display: inline;
          overflow: hidden;
        }

        #username {
          @include input(0);
          min-width: 20px;
          border-bottom: 3px white solid;
          opacity: 0;
        }
      }

      .name-settings {
        position: relative;
        &-btn {
          @include settingsBtn;
          visibility: hidden;
          margin-left: 10px;
        }

        &-modal-container {
          visibility: hidden;
        }

        &-modal-arrow-up {
          @include arrow-up(top, left, 30px, 15px);
        }

        &-modal {
          position: absolute;
          top: 40px;
          width: 170px;
          padding: 5px 0;
          border-radius: $modal-std-border-radius;
          background-color: $modal-bg-color;

          &-item {
            display: flex;
            justify-content: space-between;
            padding: 5px 12px;
            &:hover {
              background-color: $hover-color-lightest;
            }
          }
        }
      }
    }
  }

  &-bot {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .focus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .focus-input-container {
      display: flex;
      transition: opacity ease 1s;

      form {
        width: 100%;
      }

      #focus-input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 2.5px solid white;
        outline-style: none;
        text-align: center;
      }
    }

    .focus-task-container {
      display: flex;
      position: absolute;
      transition: all ease 1s;

      label {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1.2px;
      }

      .focus-task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;

        &-checkbox {
          height: 20px;
          width: 20px;
          border-radius: 10px;
        }

        &-content {
          margin: 0 15px;
          overflow: hidden;
        }

        .focus-settings {
          position: relative;

          &-btn {
            @include settingsBtn;
          }

          &-modal-container {
            display: none;
          }

          &-modal-arrow-up {
            @include arrow-up(top, left, 40px, 10px);
          }

          &-modal {
            @include modal(top, left, 50px, -10px, 70px, 100px);
            display: flex;
            justify-content: space-around;
            font-size: 0.92rem;
            padding: 7px 0;
            z-index: 1;
            &-item {
              display: flex;
              justify-content: space-around;
              padding: 5px 0;
              &:hover {
                background-color: $hover-color-lightest;
              }
            }
          }
        }
      }
    }
  }
}
